body {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* HEADER */
header {
  align-items: center;
  background-color: #3b4cca;
  display: flex;
  justify-content: center;

  height: 70px;
  width: 100vw;
}

header a {
  text-decoration: none;
}

#pokedex {
  color: #f8cc47;

  font-size: 2.5em;
  font-family: "Koulen", cursive;

  margin-right: 25px;
  text-shadow: 0.1em 0.1em 0.2em #0a285f;
}

input {
  height: 25px;
  text-align: center;
  width: 300px;
}

/* /HEADER */

/* MAIN */

main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 1024px;
}

.Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 230px;


/* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(2.4px);
}
#foto {
  height: 140px;
  width: 200px;
}

.Card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 150px;
  width: 200px;

  /* From https://css.glass */
  background: rgba(245, 243, 236, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(245, 243, 236, 0.78);
}

#numero {
  text-align: center;
  font-family: "Roboto", sans-serif;

  height: 50px;
  width: 200px;
}

#nome {
  text-align: center;
  font-family: "Roboto", sans-serif;

  margin-bottom: 2rem;
  height: 20px;
  width: 200px;
}

#nome:first-letter {
  text-transform: capitalize;
}

#tipo {
  margin: 0rem 0rem 0.3rem 0rem;
  height: 50px;
  width: 85px;

  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#tipo:first-letter {
  text-transform: capitalize;
}

.GoBack-Advanced{
  display: flex;
  align-items: space-between;
  justify-content: space-between;

  margin-top: 1rem;

  font-family: 'Overpass', sans-serif;
}

#btn{
  border-radius: 10px;
}

/* /MAIN */

/* FOOTER */

footer {
  background-color: #ffde00;
  height: 4.5rem;
  width: 100vw;
}

/* /FOOTER */

/* Tipos */

.background-normal {
  background-color: #f5f5f5;
  color: #212121 !important;
}
.background-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff !important;
}

.background-grass {
  background-color: #9bcc50;
  color: #212121 !important;
}

.background-poison {
  background-color: #b97fc9;
  color: #fff !important;
}

.background-fire {
  background-color: #fd7d24;
  color: #fff !important;
}

.background-water {
  background-color: #4592c4;
  color: #fff !important;
}

.background-electric {
  background-color: #eed535;
  color: #212121 !important;
}

.background-bug {
  background-color: #729f3f;
  color: #fff !important;
}

.background-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121 !important;
}

.background-fairy {
  background-color: #fdb9e9;
  color: #212121 !important;
}

.background-psychic {
  background-color: #ec91c6;
  color: #fff !important;
}

.background-rock {
  background-color: #a38c21;
  color: #fff !important;
}

.background-ice {
  background-color: #51c4e7;
  color: #212121 !important;
}

.background-ghost {
  background-color: #7b62a3;
  color: #fff !important;
}

.background-steel {
  background-color: #9eb7b8;
  color: #212121 !important;
}

.background-fighting {
  background-color: #d56723;
  color: #fff !important;
}

.background-ground {
  background: linear-gradient(180deg, #f7de3f 50%, #947900 50%);
  background-color: #f7de3f;
  color: #212121 !important;
}
