body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
header {
  align-items: center;
  background-color: #3b4cca;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 1024px;
}

#pokedex {
  color: #f8cc47;
  text-shadow: 0.1em 0.1em 0.2em #0A285F;
  font-size: 2.5em;
  font-family: "Koulen", cursive;
  margin-right: 25px;
}
main {
  align-items: center;
  background-color: #fffff5;
  display: flex;
  justify-content: center;
  height: 768px;
  width: 1024px;
}
footer {
  background-color: #ffde00;
  height: 70px;
  width: 1024px;
}

input {
  height: 25px;
  text-align: center;
  width: 300px;
}

.Card {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 230px;
}
#foto {
  height: 140px;
  width: 200px;
}

.Card__info {
  height: 150px;
  width: 200px;
  background-color: #FFFFFF;
}

#numero {
  margin: 5px 0px 0px 10px;
  height:30px;
  width:200px;
  font-family: "Roboto", sans-serif;
}

#nome {
  margin-left: 10px;
  height:30px;
  width:200px;
  font-family: "Roboto", sans-serif;
}

#nome:first-letter {
  text-transform: capitalize;
}

#tipo {
  margin-left: 10px;
  height:30px;
  width:85px;  
  font-family: "Roboto", sans-serif;
}

#tipo:first-letter {
  text-transform: capitalize;
}

/* Tipos */

.background-normal {
  background-color: #a4acaf;
  color: #212121 !important;
}

.background-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff !important;
}

.background-grass {
  background-color: #9bcc50;
  color: #212121 !important;
}

.background-poison {
  background-color: #b97fc9;
  color: #fff !important;
}

.background-fire {
  background-color: #fd7d24;
  color: #fff !important;
}

.background-water {
  background-color: #4592c4;
  color: #fff !important;
}

.background-electric {
  background-color: #eed535;
  color: #212121 !important;
}

.background-bug {
  background-color: #729f3f;
  color: #fff !important;
}

.background-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121 !important;
}

.background-fairy {
  background-color: #fdb9e9;
  color: #212121 !important;
}

.background-psychic {
  background-color: #f366b9;
  color: #fff !important;
}

.background-rock {
  background-color: #a38c21;
  color: #fff !important;
}

.background-ice {
  background-color: #51c4e7;
  color: #212121 !important;
}

.background-ghost {
  background-color: #7b62a3;
  color: #fff !important;
}

.background-steel {
  background-color: #9eb7b8;
  color: #212121 !important;
}

.background-fighting {
  background-color: #d56723;
  color: #fff !important;
}

.background-ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121 !important;
}